html {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.header h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.header a {
    color: aquamarine;
    font-size: 16px;
}

.app video {
    display: block;
    margin: auto;
}

.travel h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.travel p {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.camp {
    display: block;
    width: 100%;
}

.phone {
    display: block;
    margin: auto;
}

footer h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

footer a {
    color: aquamarine;
    font-size: 16px;
}